@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,700i,900,900i');

* {font-family: 'Roboto', sans-serif;
}

.container1  
            {color:#F9FAF8;
             font-size: 24px;
             background-color:#1F2937; 
             margin: -10px -10px 20px -10px ;
             padding:0px 50px 75px 50px;       
             
            } 

.navbar
            {
             font-size:18px;
            }
.navbar1
            {font-weight: bolder;
            font-size:18px;
            
            }            
.herowrap   {display: flex;
             justify-content: center;
             padding:50px 25px 25px 0;
             margin:25px;


            }
.herotext   {font-size: 18px;
             color: #E5E7EB;
             }


nav         {font-size: 18px;
             color: #E5E7EB;
             display: flex;
             justify-content: space-between;
             
            }

.placeholder {background-color: grey;
              padding:50px 100px 25px 100px;
              align-items: center;}

h1          {font-size: 48px;
             font-weight: bolder;
             color:#F9FAF8
            } 

h2          {text-align: center;
             font-weight:bolder;
             color:#1F2937;
            }             
button,
.button2    {font-weight:bold;}

button      {background-color: #3882F6;
             color:white;
             border:2px solid #3882F6;
             border-radius: 7px;
             padding:5px 25px 5px 25px;

             } 
.button2     {border:2px solid white;}        

.container2 {text-align: center;

            } 


.wrapper   {display:flex;
            align-items: center;
            border: red;
            border-width:2px;
            border-style: dotted;
            flex-flow:row-wrap;
            justify-content: center;
            margin: 5px;
           }              
            
.content    {border: 3px solid #3882F6;
             border-radius: 15px;
             flex: 1;
             margin: 10px;
             padding: 30px;
            }      

.container3 {background-color:#E5E7EB;
             font-size: 36px;
             color:#1F2937;
            
            } 
     
.container4 {background-color: #3882F6;
             color:white;
             text-align: center;

            }   


footer      {background-color:#1F2937;
             color:white;
             text-align: center;
            
            }