@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,500i,700,700i,900,900i');

* {font-family: 'Roboto', sans-serif;
}

.container1  
            {color:#F9FAF8;
             font-size: 24px;
             background-color:#1F2937; 
             margin: -10px -10px 20px -10px ;
             padding:0px 50px 75px 50px;       
             
            } 

.navbar
            {
             font-size:18px;
            }
.navbar1
            {font-weight: bolder;
            font-size:18px;
            max-width: 1520px;
            
            }            
.herowrap   {display: flex;
             justify-content:left;
             padding:50px 0px 25px 0;
             margin:25px 0px 25px 0px;


            }
.herotext   {font-size: 18px;
             color: #E5E7EB;
             margin:0px;
             max-width: 50%;}


nav         {font-size: 18px;
             color: #E5E7EB;
             display: flex;
             justify-content: space-between;
             
            }

.placeholder {background-color: grey;
              padding:50px 100px 25px 100px;
              align-items: center;}

h1          {font-size: 48px;
             font-weight: bolder;
             color:#F9FAF8;
             margin:0px 15px 5px 0px;
             max-width:50%;
            } 

h2          {text-align: center;
             font-weight:bolder;
             color:#1F2937;
            }  
h3          {justify-content: center;
            text-align: center;
             }                       
button,
.button2    {font-weight:bold;}

button      {background-color: #3882F6;
             color:white;
             border:2px solid #3882F6;
             border-radius: 7px;
             padding:5px 25px 5px 25px;

             } 
.button2     {border:2px solid white;
              justify-content: right;
               }  
.button2div  {display:inline-block;
              margin:0 0 0 40%;
              justify-content:center;}                   

.container2 {
             justify-content: center;
             
            } 


.wrapper   {display:flex;
            flex-flow:row-wrap;
            max-width: 80%;
            max-height: 300px;
            min-height: 175px;
            margin:50px 10% 0px 10%;

           }              
            
.content    {border: 3px solid #3882F6;
             border-radius: 15px;
             flex: 1;
             margin: 20px;
             padding: 30px;
             justify-content: center;

            }      

.container3 {background-color:#E5E7EB;
             font-size: 36px;
             color:#1F2937;
             padding:50px 100px 50px 100px;
             margin: 100px -10px 20px -10px;
             font-style:italic;
             font-weight:lighter;
            } 
     
.container4 {background-color: #3882F6;
             color:white;
             
             margin:75px 100px 75px 100px;
             padding: 25px 50px 25px 50px;
             border: #3882F6 10px solid;
             border-radius: 5px;
             display:flex;

            }   


footer      {background-color:#1F2937;
             color:white;
             text-align: center;
             margin:20px -10px -10px -10px;
             padding:50px;
            }